# Lab/Assignment intruction files
Instructions.pdf

# Zipped files
*.zip

# Dependency directories
*.jar
*.class

# Lectures
/Lectures

# Outline
Outline.pdf

# BioLab
BioLab

# VS Code settings
.vscode

# IntelliJ IDEA / JetBrains
.idea/
*.iml

# Build files
out/
target/
bin/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Compiling and running intructions for JavaFX
runJavaFX.txt