# Lab/Assignment intruction files
[iI]nstructions.pdf

# Zipped files
*.zip

# Dependency directories
*.jar
*.class

# Lectures
/Lectures
[Ll]ecture*

# Outline
Outline.pdf

# VS Code settings
.vscode

# IntelliJ IDEA / JetBrains
.idea/
*.iml

# Build files
out/
target/
bin/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Compiling and running intructions for JavaFX
run-java-fx.txt

# Documentation folders
docs/
**/docs/

# Example lecture code
example*

# Test files
*Test.py

# Assignment/labs expected output files
expectedOutput.txt

# Final exam cheat sheet
final-cheat-sheet.txt